@include font-face("awake", "/assets/fonts/awake-bold-webfont", $file-formats: woff);
@include font-face("geomanist-bold", "/assets/fonts/geomanist-bold-webfont", $file-formats: woff);
@include font-face("geomanist-black", "/assets/fonts/geomanist-black-webfont", $file-formats: woff woff2);
@include font-face("geomanist-medium", "/assets/fonts/geomanist-medium-webfont", $file-formats: woff woff2);
@include font-face("geomanist-book", "/assets/fonts/geomanist-book-webfont", $file-formats: woff woff2);
@include font-face("geomanist-regular", "/assets/fonts/geomanist-regular-webfont", $file-formats: woff woff2);
@include font-face("league-spartan", "/assets/fonts/leaguespartan-bold", $file-formats: woff woff2);
@import 'https://fonts.googleapis.com/css?family=Poppins:400,500,600,700';

$heading-font-family: 'Poppins', sans-serif;
$heading-font-family: 'geomanist-black', sans-serif;
$heading-font-family: 'geomanist-bold', sans-serif;
$heading-font-family: 'geomanist-medium', sans-serif;
$heading-font-family: 'geomanist-regular', sans-serif;
$heading-font-family: 'geomanist-book', sans-serif;
$heading-font-family: 'awake', sans-serif;
$heading-font-family: 'Avenir', sans-serif;
$heading-font-family: 'league-spartan', sans-serif;

h1.site-title {
    color: $white;
    // font-family: 'Avenir', sans-serif;
    font-size: modular-scale(7);
    font-weight: 900;
}

body {
    color: $base-font-color;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-size: modular-scale(1);
    line-height: $heading-line-height;
    margin: 0 0 $small-spacing;
}

h2 {
    font-size: modular-scale(3);
}

p {
    margin: 0 0 $small-spacing;
}

a {
    color: $action-color;
    text-decoration: none;
    transition: color $base-duration $base-timing;

    &:active,
    &:focus,
    &:hover {
        color: shade($action-color, 25%);
    }
}

hr {
    border-bottom: $base-border;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    margin: $base-spacing 0;
}
