body {
    margin: 0;
}

body:before {
    left: $nav-width + 60px !important;
    right: auto !important;
    margin-left: $gutter;
    @include media($tablet) {
        left: 0 !important;
    }
}

// .container:before {
//     position: absolute;
//     right: auto !important;
//     @include media($tablet) {
//         left: 0 !important;
//     }
// }

.container {
    @include outer-container;
    margin-left: $nav-width + 60px;
    @include media($tablet) {
        margin-left: 0;
    }
    // padding-left: $gutter;
    // @include pad(0 default 0 default);
    // @media (min-width: 768px) {
    //     width: 750px;
    // }
    // @media (min-width: 992px) {
    //     width: 970px;
    // }
    // @media (min-width: $max-width) {
    //     width: $max-width;
    // }
}

.page-wrapper {
    padding-left: $gutter;
    padding-right: $gutter;
}

.page-content {
    @include span-columns(9);
    @include media($tablet) {
        @include fill-parent;
    }
    font-family: $nav-font;
}

.nav-wrapper {
    @include media($mobile) {
        @include fill-parent;
        @include omega;
    }
}

.nav {
    width: $nav-width;
    float: left;
    margin-top: 133px;
    font-family: $nav-font;
    @media (min-width: 768px) {
        padding-bottom: 4em;
    }
    @include media($mobile) {
        margin-right: 0;
        margin-top: 3em;
    }
    .fixed & {
        position: fixed;
        top: 0px;
        bottom: 0px;
        overflow-y: auto;
        @include media($tablet) {
            position: static;
        }
    }
    .pages {
        margin-top: 3em;
    }
    .pages a,
    .posts a {
        display: block;
        color: $base-font-color;
        border-bottom: $base-border;
        // border-color: aliceblue;
        padding-left: 8px;
        margin-bottom: .5em;
        &:active,
        &:hover {
            background-color: aliceblue;
        }
    }

    aside {
        margin-top: 3em;
        margin-left: 8px;
    }
}

.post {
    padding-top: 5em;
    margin-bottom: 4em;
}

.post-title {
    text-align: right;
    margin-bottom: 15px;
    @include media($mobile) {
        text-align: left;
    }
}

.post-gallery {
    float: left;
}

.post-image {
    @include span-columns(9 of 9);
    @include omega;
}

.post-thumbnail {
    @include span-columns(3 of 9);
    @include omega(4n);
    // margin-top: $gutter;
    @include pad(default 0 default 0);
}