body {
    margin: 0;
}

.container {
    @include outer-container;
    padding-left: $gutter;
    padding-right: $gutter;
}

.page-content {
    .trigger {
        @include span-columns(3);
        @include media($mobile) {
            @include fill-parent;
            @include omega;
        }
    }
    .wrapper {
        @include span-columns(9);
        @include media($mobile) {
            @include fill-parent;
        }
    }
}

.post {
    margin-bottom: 9em;
}

.post-title {
    text-align: right;
    margin-bottom: 15px;
}