.site-header {
    background-color: $green;
    height: 50vh;
    padding-top: 35px;
    padding-left: 30px;
}

.site-title {
    color: $white;
    font-size: modular-scale(7);
    margin-left: -4px;
}