---
layout: default
---

<div class="home">

    <div class="posts">
        {% for post in site.posts %}

            <div class="post" id="{{ post.title | slugify }}">

                <h2 class="post-title">{{ post.title }}</h2>

                <div class="post-content" itemprop="articleBody">
                    <div class="post-gallery">
                        {% for image in site.static_files %}
                            {% if image.path contains 'large' and image.path contains post.slug | prepend: 'post-assets/images/' %}
                                <img class="post-image lazyload" id="post-image" data-src="{{ site.baseurl }}{{ image.path }}" alt="{{ post.title }} image"/>
                                {% break %}
                            {% endif %}
                        {% endfor %}
                        <div class="post-thumbnails">
                            {% for image in site.static_files %}
                                {% if image.path contains 'large' and image.path contains post.slug | prepend: 'post-assets/images/' %}
                                    <img class="post-thumbnail lazyload" data-src="{{ site.baseurl }}{{ image.path }}" alt="{{ post.title }} image"/>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {{ post.content }}
                </div>

            </div>

        {% endfor %}
    </div>

</div>
